{% extends 'homepage.html' %}

{% block header %}
  <h1>  GAME PAGE</h1>
{% endblock %}

{% block links %}
  <ul>
    <li><a href="{{ url_for('homepage') }}">Home Page</a>
    <li><a href="{{ url_for('profile') }}">Profile</a>
    <li><a href="{{ url_for('logout') }}">Log Out</a>
  </ul>
{% endblock %}



{% block content %}
  <section class="content">
    <div>
      <header> <font size="6px">Game Information:</font></header>

        <hr>

        <p style="font-size:160%;">{{away_team}} @ {{home_team}}</p>

        <p>Game Time: <b>{{game_time}}</b></p>

        <p>Game Type: <b>Post-Season</b></p>

    </div>
  </section>

  <section class="content">
      <header> <font size="6px">
        {% block h2h %}Season Head to Head Stats{% endblock %}
      </font></header>

      <p></p>

      <table border="2" frame=void cellpadding="2" style="width:50%">
        <tr>
          <th width="(100/2)%">Category</th>
          <th bgcolor="#CC9999" width="(100/4)%">{{away_team}}</th>
          <th bgcolor="#377ba8" width="(100/4)%">{{home_team}}</th>
        </tr>

        {% for key,val in head_to_head.iterrows() %}
          <tr>
            <td align="center">{{val['category']}}</td>
            <td bgcolor="#CC9999" align="center">{{val['away_stat']}}{% if key in [0, 1, 2] %}%{% endif %}</td>
            <td bgcolor="#377ba8" align="center">{{val['home_stat']}}{% if key in [0, 1, 2] %}%{% endif %}</td>
          </tr>
        {% endfor %}
      </table>
  </section>

  <section class="content">
      <header> <font size="6px">
        {% block l5 %}Last 5 Matches{% endblock %}
      </font></header>

      <p></p>

      <table border="2" frame=void cellpadding="2" style="width:60%">
        <tr>
          <th width="(100/5)%">Date</th>
          <th width="(100/5)%">Away Team</th>
          <th width="(100/5)%">Home Team</th>
          <th width="(100/5)%">Away Final</th>
          <th width="(100/5)%">Home Final</th>
        </tr>

        {% for key,val in last_five.iterrows() %}
          <tr class="{% if key % 2 == 0 %}even{% else %}odd{% endif %}">
            <td align="center">{{val['date']}}</td>
            <td align="center">{{val['away_team']}}</td>
            <td align="center">{{val['home_team']}}</td>
            <td align="center">{{val['away_total']}}</td>
            <td align="center">{{val['home_total']}}</td>
          </tr>
        {% endfor %}
      </table>
  </section>

{% endblock %}
