{% extends 'homepage.html' %}

{% block header %}
  <h1>  PROFILE</h1>
{% endblock %}



{% block links %}
  <ul>
    <li><a href="{{ url_for('homepage') }}">Home Page</a>
    <li><a href="{{ url_for('profile') }}">Profile</a>
    <li><a href="{{ url_for('logout') }}">Log Out</a>
  </ul>
{% endblock %}

{% block content %}
  <section class="content">
    <div>
      <header> <font size="6px">User Information:</font></header>
      <hr>
      <p>Username: <b>{{username}}</b></p>

      <p>Name: <b>{{first_name}} {{last_name}}</b></p>

      <p>Balance: <b>${{balance}}</b></p>

      <p>Bet Record: <b><font color='green'>{{win_count}}</font>-<font color='red'>{{loss_count}}</font>-<font color='darkblue'>{{tie_count}}</font></b></p>
    </div>
  </section>

  <section class="content">
    {% if bet_indicator %}
      <header> <font size="6px">
        {% block games %}Betting History - Last 20 Bets{% endblock %}
      </font></header>

      <p></p>

      <table border="2" frame=void cellpadding="2" style="width:100%">
        <tr>
          <th width="(100/11)%">Bet Time</th>
          <th width="(100/11)%">Away Team</th>
          <th width="(100/11)%">Home Team</th>
          <th width="(100/11)%">Away Score</th>
          <th width="(100/11)%">Home Score</th>
          <th width="(100/11)%">Bet Type</th>
          <th width="(100/11)%">Odds Line</th>
          <th width="(100/11)%">Bet Side</th>
          <th width="(100/11)%">Betting Odds</th>
          <th width="(100/11)%">Wager</th>
          <th width="(100/11)%">Result</th>
        </tr>

        {% for key,val in bet_history.iterrows() %}
          <tr class="{% if key % 2 == 0 %}even{% else %}odds{% endif %}">
            <td align="center">{{val['bet_time']}}</td>
            <td align="center">{{val['away']}}</td>
            <td align="center">{{val['home']}}</td>
            <td align="center">{{val['v_score']}}</td>
            <td align="center">{{val['h_score']}}</td>
            <td align="center">{{val['bet_type']}}</td>
            <td align="center">{{val['odds_line']}}</td>
            <td align="center">{{val['odds_side']}}</td>
            <td align="center">{{val['odds_payout']}}</td>
            <td align="center">{{val['bet_size']}}</td>
            <td class="{{val['win_lost']}}" align="center">{{val['win_lost']}}</td>
          </tr>
        {% endfor %}
      </table>

    {% else %}
      <div>
        <header><font size="15px">
          You have not placed any bets yet!
        </font></header>
      </div>
    {% endif %}

  </section>

{% endblock %}
